{% set css %}
    {% include "./default.css" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/lite-yt-embed.css"/>

  </head>
  <body class="default">
    {% include "./partials/contact-info/contact-info.njk" %}

    <div class="default__content">
      {% include "./partials/navbar/navbar.njk" %}
      <main class="default__main">
        {{ content | safe }}
      </main>
      {% include "./partials/footer/footer.njk" %}
    </div>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <script async defer src="{% webpack 'js/main.js' %}"></script>
  </body>
</html>