.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--page-indent);
    box-sizing: border-box;
}

.navbar__logo {
    width: max(16vw, var(--logo-min-size));
    height: auto;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu__item {
    min-width: 10vw;
    text-align: center;
}

.menu__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-right: 0.5em;
    color: var(--second-text-color);
    transition: 0.3s color;
}

.menu__link:focus, .menu__link:hover {
    color: var(--accent-color)
}