{% set css %}
    {% include "./footer.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<footer class="footer">
  <div class="main__content-wrapper">
    ©Redcat. Все права защищены.
  </div>
</footer>
