:root {
    --accent-color: hsl(349, 84%, 55%);
    --second-text-color: hsl(0, 0%, 99%);
    --bg-color: hsl(0, 0%, 11%);
    --shadow-color: hsla(0, 0%, 5%, 0.3);

    --main-text-color: black;
    --sub-text-color: hsl(255, 2%, 34%);
}