---
tags: "main"
---

{% set css %}
    {% include "./details.css" %}
    {% include "./main.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<h2 class="details__title">{{ title }}</h2>

<div class="details">
    <section class="main__content-wrapper details__content">
        <lite-youtube class="details__video" videoid="{{video}}" playlabel="{{video_playlabel}}"></lite-youtube>

        <red-carusel images="{{ carusel | dump }}"></red-carusel>

        <div class="details__text">
            <div class="details__subsection details__date">{{ details_date }}</div>
            <div class="details__subsection details__subsection-1">
                {{ subsection1 | markdown | safe }}
            </div>
            <div class="details__subsection details__subsection-2">
                {{ subsection2 | markdown | safe }}
            </div>
        </div>
    </section>
</div>
