---
tags: "main"
---

{% set css %}
    {% include "./details.css" %}
    {% include "./main.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<h2 class="details__title">{{ title }}</h2>

<div class="details">
    <section class="main__content-wrapper">
        <div class="details__subsection details__date">{{ details_date }}</div>
        <div class="details__subsection details__subsection-1">
            {{ subsection1 | markdown | safe }}
        </div>
        <div class="details__subsection details__subsection-2">
            {{ subsection2 | markdown | safe }}
        </div>
    </section>
</div>