.participation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participation__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;

  width: 100%;
  color: var(--second-text-color);
  text-align: center;
}

@media (max-width: 1000px) {
  .participation__content {
    grid-template-columns: 1fr 1fr;
  }
}

.participation-price__title {
  background-color: var(--accent-color);
}